<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <div class="footer-content">
        <p>DateDate - 간편한 그룹 일정 조율</p>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_CtragyTvcclHy7MRITgDgnh43pnnItONJRzxJ_kXJOBrnQ/viewform?usp=publish-editor" target="_blank" rel="noopener noreferrer">의견 보내기</a></p>
    </div>
</footer>
<th:block th:fragment="scripts">
    <script th:src="@{/js/toast.js}"></script>
    <script th:src="@{/js/api.js}"></script>
    <script th:src="@{/js/calendar.js}"></script>
</th:block>
</body>
</html>
